body {
    text-align: center;
}

img {
    height: 400px;
    width: 400px;
}

table {
    margin-left: 450px;
}

.green {
    background-color: rgb(191, 209, 186);
}

.blue {
    background-color: rgb(191, 209, 700);
}

.purple {
    background-color: rgb(199, 140, 211);
}